/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#1d3557,#457b9d);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.atm-container{
    width:420px;
    background:#2c3e50;
    border-radius:20px;
    padding:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    color:#fff;
}

/* Header */
.atm-header{
    text-align:center;
    margin-bottom:20px;
}

.logo{
    width:70px;
    height:70px;
    object-fit:contain;
    margin-bottom:10px;
}

.atm-header h1{
    color:#f1c40f;
    font-size:30px;
}

/* Screen */
.screen{
    background:#dff9fb;
    color:#000;
    border-radius:10px;
    padding:20px;
    text-align:center;
    margin-bottom:20px;
}

.screen h2{
    margin-bottom:10px;
}

.screen p{
    margin-bottom:10px;
}

.screen input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:18px;
    text-align:center;
    margin-bottom:15px;
}

.screen-buttons{
    display:flex;
    justify-content:space-between;
}

.screen-buttons button{
    width:48%;
    padding:10px;
    border:none;
    border-radius:6px;
    background:#3498db;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.screen-buttons button:hover{
    background:#2980b9;
}

/* Card Slot */
.card-section{
    text-align:center;
    margin-bottom:20px;
}

.card-slot{
    width:180px;
    height:10px;
    background:black;
    margin:10px auto;
    border-radius:10px;
}

/* Menu Buttons */
.menu{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
    margin-bottom:20px;
}

.menu button{
    padding:12px;
    background:#27ae60;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.menu button:hover{
    background:#219150;
}

/* Keypad */
.keypad{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}

.keypad button{
    padding:15px;
    font-size:18px;
    border:none;
    border-radius:8px;
    background:#ecf0f1;
    cursor:pointer;
    transition:.3s;
}

.keypad button:hover{
    background:#bdc3c7;
}

/* Footer */
.footer{
    margin-top:20px;
    text-align:center;
    font-size:14px;
    color:#ddd;
}

/* Message */
#message{
    margin-top:10px;
    color:red;
    font-weight:bold;
}

/* Responsive */
@media(max-width:480px){

    .atm-container{
        width:95%;
        padding:15px;
    }

    .menu{
        grid-template-columns:1fr;
    }

    .screen-buttons{
        flex-direction:column;
        gap:10px;
    }

    .screen-buttons button{
        width:100%;
    }
}